@model IEnumerable<COMP2084Project1.Models.museumTable>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @if (User.Identity.IsAuthenticated)
    {
        @Html.ActionLink("Create New", "Create")
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contact)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Art)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contact)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Art)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.MuseumID })
            @if (User.Identity.IsAuthenticated)
            {@Html.ActionLink("Edit", "Edit", new { id = item.MuseumID })}
            @if (User.Identity.IsAuthenticated)
            {@Html.ActionLink("Delete", "Delete", new { id = item.MuseumID })}
        </td>
    </tr>
}

</table>
